<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">

	<listeners>
		<listener class-name="Computhink.Generic.ListenersRetry"></listener>
		<listener class-name="Computhink.Generic.Listeners" />
	</listeners>

	<suite-files>
		<suite-file path="NishaRautomationFile.xml"></suite-file>
		<suite-file path="Dipak_AutomationEWA.xml"></suite-file>
	</suite-files>
</suite> 
<!-- Suite --> 